.topnav {
    background-color: rgb(194, 237, 237);
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: skyblue;
    color: black;
  }
  
  .topnav a.right {
    float: right;
  }