body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/bookshelf-p02awoxjadsdmzzs.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    height: 100vh; /* Asegura que cubra toda la pantalla */
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .image {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #007BFF;
    border: 1px solid #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .link:hover {
    background-color: #007BFF;
    color: #fff;
  }
  
  p{
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white; 
}

.links {
  gap: 14rem;
}